@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;600&display=swap');

:root {
  --color-darkblue: #000080;
  --color-blue: #87cefa;
  --color-opacityred: rgba(250, 70, 70, 0.6);
  --color-white: #f3f3f3;
  --color-red: rgb(250, 70, 70);
  --color-bg: #343f4f;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Rajdhani', sans-serif;
}

body {
  height: 100vh;
  background-color: var(--color-bg);
}

.main-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 100vw;
  margin: 0 auto;
}

header {
  display: flex;
  justify-content: center;
}

.nav-bar {
  position: fixed;
  display: flex;
  width: 100vw;
  background-color: #3333334d;
  justify-content: center;
  z-index: 10;
}

.nav-bar ul {
  display: flex;
  flex-direction: row;
  margin: 5px 10px;
  padding: 0;
  font-size: 1.8em;
}

.nav-bar ul li {
  border-radius: 5px;
  list-style: none;
  font-weight: bold;
  margin: 0 0.7rem;
}

.nav-bar a {
  color: var(--color-white);
  text-decoration: none;
}

.nav-bar a:hover {
  color: var(--color-opacityred);
}

#welcome-section {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  margin: 0 auto;
}

.img-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}
.img {
  width: 100vw;
}
.text-container > .wlc-text1,
.wlc-text2 {
  background-color: var(--color-opacityred);
  border-radius: 10px;
  padding: 10px 20px;
  color: var(--color-white);
  text-align: center;
  margin: 1rem;
}

.text-container,
.wlc-text2 {
  font-size: 2em;
  color: var(--color-darkblue);
}

#service {
  display: grid;
  height: 100vh;
  place-items: center;
  font-size: 3.75rem;
}

.wrapper {
  box-sizing: content-box;
  height: 4.4rem;
  padding: 50px 30px;
  display: flex;
  box-shadow: 0 20px 25px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}
.txt-static {
  color: var(--color-white);
  font-weight: 600;
}
.txts-dinamic {
  overflow: hidden;
}
.txt-dinamic {
  display: block;
  height: 100%;
  padding-left: 10px;
  color: var(--color-red);
  animation: slide 6s infinite;
}
@keyframes slide {
  10% {
    transform: translateY(-112%);
  }
  25% {
    transform: translateY(-100%);
  }
  35% {
    transform: translateY(-212%);
  }
  50% {
    transform: translateY(-200%);
  }
  60% {
    transform: translateY(-312%);
  }
  75% {
    transform: translateY(-300%);
  }
  85% {
    transform: translateY(-412%);
  }
  100% {
    transform: translateY(-400%);
  }
}

.txt-dinamic::after {
  content: '';
  position: absolute;
  left: 0;
  height: 100%;
  width: 100%;
  background: #343f4f;
  border-left: 2px solid var(--color-red);
  animation: typing 1.5s steps(9) infinite;
}

@keyframes typing {
  100% {
    left: 100%;
    margin: 0 -35px 0 35px;
  }
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: var(--color-bg);
}

.card__container {
  max-width: 1120px;
  width: 100%;
  padding-block: 5rem;
}
.card__content {
  margin-inline: 1.75rem;
  border-radius: 1.25rem;
  overflow: hidden;
}
.card__article {
  width: 300px;
  border-radius: 1.25rem;
  overflow: hidden;
}

.card__image {
  position: relative;
  background-color: var(--color-red);
  padding-top: 1.5rem;
  margin-bottom: -0.75rem;
}

.card__data {
  background-color: var(--color-darkblue);
  padding: 1.5rem 2rem;
  border-radius: 1rem;
  text-align: center;
  position: relative;
  z-index: 10;
}
.card__img {
  position: relative;
  width: 300px;
  margin: 0 auto;
  z-index: 5;
}

.card__shadow {
  width: 200px;
  height: 200px;
  background-color: var(--color-blue);
  border-radius: 50%;
  position: absolute;
  top: 3.75rem;
  left: 0;
  right: 0;
  margin-inline: auto;
  filter: blur(45px);
}
.card__name {
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--color-white);
  margin-bottom: 0.75rem;
}
.card__description {
  font-size: 1rem;
  color: #a3a3a3;
  text-align: center;
  margin-bottom: 1.75rem;
}

.card__button {
  display: inline-block;
  padding: 0.75rem 1.5rem;
  background-color: var(--color-opacityred);
  border-radius: 0.25rem;
  color: var(--color-white);
  border: none;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 600;
  margin: 14px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.card__button:hover {
  background-color: var(--color-red);
}

.swiper-button-prev::after,
.swiper-button-next::after {
  content: '';
  transition: color 0.3s ease;
}
.swiper-button-next,
.swiper-button-prev {
  width: initial;
  height: initial;
  font-size: 3rem;
  color: var(--color-red);
  display: none;
}
.swiper-button-prev {
  left: 0;
}
.swiper-button-next {
  right: 0;
}
.swiper-pagination-bullet {
  background-color: var(--color-red);
}

.swiper-pagination-bullet-active {
  background-color: var(--color-opacityred);
}

#contact {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-self: center;
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
  background-color: var(--color-darkblue);
}

#contact a {
  font-size: 4em;
  color: var(--color-white);
  text-shadow: 0 0 0.2em var(--color-white);
  transition: 0.2s;
}

#contact a:hover {
  scale: 1.3;
}

.footer {
  display: inline-flex;
  width: 100vw;
  background-color: var(--color-white);
}

.footer a {
  position: relative;
  margin: 0 auto;
  padding: 5px auto;
  text-decoration: none;
  color: var(--color-darkblue);
}

@media screen and (max-width: 320px) {
  .card__data {
    padding: 1rem;
  }
}

@media screen and (max-width: 768px) {
  .nav-bar ul {
    margin: 0;
    font-size: 1.4em;
    transition: 0.3s;
  }
  .wrapper {
    flex-direction: column;
    text-align: center;
    font-size: 2.5rem;
    height: 5.7rem;
    transition: 0.3s;
  }
  .wrapper .txts-dinamic {
    line-height: 2.5rem;
    transition: 0.3s;
  }
  .wrapper .txt-static {
    font-weight: 300;
  }
  .card__container {
    margin-inline: 3rem;
  }
  .swiper-button-next,
  .swiper-button-prev {
    display: block;
  }
}

@media screen and (max-width: 1120px) {
  .card__container {
    max-width: 1120px;
  }
  .swiper-button-next {
    right: -1rem;
  }
  .swiper-button-prev {
    left: -1rem;
  }
}
