:root {
  --font: 'Montserrat', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  --nav-color: #fff;
  --nav-text: #222;
}
/* light theme */
:root:has(#light:checked) {
  --color-body-bg: hsl(0, 0%, 76%);
  --shadow-box: 0 20px 25px rgba(0, 0, 0, 0.2);
  --color-backdrop: hsl(0, 0%, 65%);
  --color-card-bg: hsl(23, 87%, 38%);
  --color-secondary: hsl(2, 92%, 31%);
  --color-primary-text: hsl(0, 0%, 100%);
  --color-second-text: hsl(0, 0%, 15%);
}
/* dark theme */
:root:has(#dark:checked) {
  --color-body-bg: hsl(0, 0%, 20%);
  --shadow-box: 0 20px 25px rgba(255, 255, 255, 0.2);
  --color-backdrop: hsl(0, 0%, 42%);
  --color-card-bg: hsl(23, 87%, 38%);
  --color-secondary: hsl(0, 0%, 28%);
  --color-primary-text: hsl(0, 0%, 26%);
  --color-second-text: hsl(0, 0%, 77%);
}
/* blue theme */
:root:has(#blue:checked) {
  --color-body-bg: hsl(239, 80%, 24%);
  --shadow-box: 0 20px 25px rgba(179, 179, 235, 0.2);
  --color-backdrop: rgba(29, 37, 110, 0.432);
  --color-card-bg: hsl(23, 87%, 38%);
  --color-secondary: hsl(0, 0%, 28%);
  --color-primary-text: hsl(0, 0%, 17%);
  --color-second-text: hsl(0, 0%, 100%);
}
/* pink theme */
:root:has(#pink:checked) {
  --color-body-bg: hsl(319, 88%, 90%);
  --shadow-box: 0 20px 25px rgba(236, 41, 162, 0.2);
  --color-backdrop: rgba(255, 0, 157, 0.2);
  --color-card-bg: hsl(23, 87%, 38%);
  --color-secondary: hsl(0, 0%, 28%);
  --color-primary-text: hsl(0, 0%, 100%);
  --color-second-text: hsl(0, 0%, 15%);
}
/* green theme */
:root:has(#green:checked) {
  --color-body-bg: hsl(104, 18%, 79%);
  --shadow-box: 0 20px 25px rgba(131, 212, 25, 0.2);
  --color-backdrop: rgba(41, 122, 41, 0.2);
  --color-card-bg: hsl(23, 87%, 38%);
  --color-secondary: hsl(0, 0%, 28%);
  --color-primary-text: hsl(0, 0%, 100%);
  --color-second-text: hsl(0, 0%, 15%);
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: var(--font);
}
body {
  height: 100vh;
  background-color: var(--color-body-bg);
  color: var(--color-second-text);
}
.nav-bar {
  position: fixed;
  display: flex;
  width: 100%;
  margin: 0 auto;
  background: var(--nav-color);
  box-shadow: var(--shadow-box);
  color: var(--nav-text);
  justify-content: space-evenly;
  align-items: center;
  z-index: 10;
}
.backdrop {
  position: absolute;
  background: var(--color-backdrop);
  backdrop-filter: blur(2px);
  border-radius: 5px;
  left: var(--left);
  right: var(--right);
  width: var(--width);
  height: var(--height);
  transition: all 0.5s ease-in-out;
  animation-delay: 0.5s;
  opacity: 1;
  z-index: -10;
}
.logo {
  display: flex;
  width: 32px;
  height: 32px;
}
.nav-bar ul {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
  padding: 0 0.5rem;
}
.nav-bar ul li {
  list-style: none;
  letter-spacing: 2px;
  padding: 0.5rem;
  font-size: 14px;
}
.nav-bar a {
  color: currentColor;
  text-decoration: none;
  display: inline-block;
  text-transform: uppercase;
}

.main__container {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 100%;
}

.home {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
}
.name,
.rol {
  background-color: var(--color-card-bg);
  border-radius: 0.7rem;
  padding: 0.6rem 1.4rem;
  color: var(--color-primary-text);
  font-size: 2rem;
  text-align: center;
  margin: 1rem;
}
.rol {
  color: var(--color-second-text);
  margin-bottom: 3rem;
}
.description {
  width: 600px;
  color: var(--color-second-text);
  font-size: 1.5rem;
  align-content: center;
  text-align: center;
  background: var(--color-backdrop);
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
}
.box__dinamic {
  display: grid;
  height: 100vh;
  width: 100%;
  place-items: center;
}
.box__wrapper {
  box-sizing: content-box;
  flex-direction: column;
  height: 5.7rem;
  display: flex;
  align-items: center;
  padding: 50px 30px;
  font-size: 2.5rem;
  box-shadow: var(--shadow-box);
  border-radius: 10px;
  transition: 0.3s;
}
.word__static {
  color: var(--color-second-text);
  font-weight: 300;
}
.words__dinamic {
  overflow: hidden;
}
.word__dinamic {
  display: block;
  padding-left: 15px;
  color: var(--color-secondary);
  animation: slide 6s infinite;
}
@keyframes slide {
  10% {
    transform: translateY(-112%);
  }
  25% {
    transform: translateY(-100%);
  }
  35% {
    transform: translateY(-212%);
  }
  50% {
    transform: translateY(-200%);
  }
  60% {
    transform: translateY(-312%);
  }
  75% {
    transform: translateY(-300%);
  }
  85% {
    transform: translateY(-412%);
  }
  100% {
    transform: translateY(-400%);
  }
}

/* .word__dinamic::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background: var(--color-bg);
  border-left: 2px solid var(--color-red);
  animation: typing 1.5s steps(9) infinite;
}

@keyframes typing {
  100% {
    left: 100%;
    margin: 0 -35px 0 35px;
  }
} */

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card__container {
  max-width: 1080px;
  width: 100%;
  padding-block: 3rem;
}
.card__content {
  margin-inline: 1.75rem;
  border-top-left-radius: 2.25rem;
  border-top-right-radius: 2.25rem;
  border-bottom-left-radius: 6.25rem;
  border-bottom-right-radius: 6.25rem;
  overflow: hidden;
}
.card__article {
  width: 18.75rem;
  border-radius: 1.25rem;
  overflow: hidden;
}
.card__image {
  position: relative;
  background-color: var(--color-backdrop);
  padding-top: 1.5rem;
  margin-bottom: -0.75rem;
}
.card__img {
  position: relative;
  width: 24rem;
  margin: 0 auto;
  z-index: 5;
}
.card__data {
  background-color: var(--color-card-bg);
  padding: 1.5rem 2rem;
  border-radius: 1rem;
  text-align: center;
  position: relative;
  z-index: 10;
}
.card__name {
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--color-text);
  margin-bottom: 0.75rem;
}
.card__description {
  font-size: 1rem;
  color: var(--color-text);
  text-align: center;
  margin-bottom: 1.75rem;
}
.card__button {
  display: inline-block;
  padding: 0.75rem 1.5rem;
  background-color: var(--color-body-bg);
  border-radius: 0.25rem;
  color: var(--color-text);
  border: none;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 600;
  margin: 14px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.card__button:hover {
  background-color: var(--color-heading);
}
.swiper-button-next,
.swiper-button-prev {
  width: initial;
  height: initial;
  font-size: 3rem;
  color: var(--color-card-bg);
}
.swiper-button-prev {
  left: 0;
}
.swiper-button-next {
  right: 0;
}

.contact {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 100vh;
}
.contact a {
  font-size: 3rem;
  width: 50px;
  color: var(--color-text);
  text-shadow: 0 0 0.2em var(--color-text);
  transition: 0.3s;
}
.contact a:hover {
  scale: 1.3;
}
.footer {
  position: relative;
  display: flex;
  margin: 0 auto;
}
.copy-icon {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: var(--color-text);
}
span {
  margin-left: 0.7rem;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
.color-picker > fieldset {
  border: 0;
  display: flex;
  gap: 2rem;
  width: fit-content;
  padding: 0 2rem;
}
.color-picker input[type='radio'] {
  appearance: none;
  width: 1rem;
  height: 1rem;
  outline: 3px solid var(--radio-color, currentColor);
  outline-offset: 3px;
  border-radius: 50%;
}
.color-picker input[type='radio']:checked {
  background-color: var(--radio-color);
}
.color-picker input[type='radio']#light {
  --radio-color: grey;
  cursor: pointer;
}
.color-picker input[type='radio']#dark {
  --radio-color: black;
  cursor: pointer;
}
.color-picker input[type='radio']#blue {
  --radio-color: blue;
  cursor: pointer;
}
.color-picker input[type='radio']#pink {
  --radio-color: pink;
  cursor: pointer;
}
.color-picker input[type='radio']#green {
  --radio-color: green;
  cursor: pointer;
}

.flags__item {
  cursor: pointer;
}
.flags__item > img {
  border-radius: 25% 10px 25px;
}

/* @media screen and (max-width: 370px) {
  .card__container {
    margin-inline: 1rem;
  }
}
@media screen and (max-width: 500px) {
  .card__container {
    margin-inline: 0;
  }
  .swiper-button-next,
  .swiper-button-prev {
    display: none;
  }
}
@media screen and (max-width: 600px) {
  .swiper-button-next,
  .swiper-button-prev {
    display: none;
  }
}
@media screen and (max-width: 1120px) {
  .card__container {
    max-width: 1120px;
  }
}

@media screen and (min-width: 370px) {
  .nav-bar ul li {
    font-size: 1.2rem;
    padding: 0.7rem;
  }
  .text-container {
    margin-bottom: 4rem;
  }
}
@media screen and (min-width: 500px) {
  .nav-bar ul li {
    font-size: 1.6rem;
    font-weight: 600;
  }
  .text-container {
    margin-bottom: 3rem;
  }
  .name,
  .rol {
    font-size: 4rem;
  }
  .box__wrapper {
    text-align: center;
    height: 6.2rem;
    font-size: 3rem;
  }
  .box__wrapper .word__static {
    font-weight: 600;
  }
  .box__wrapper .word__dinamic {
    line-height: 3rem;
    transition: 0.3s;
  }
}
@media screen and (min-width: 768px) {
  .nav-bar ul li {
    font-size: 2rem;
    font-weight: 600;
  }
  .box__wrapper {
    flex-direction: row;
    height: 5rem;
  }
  .box__wrapper .words__dinamic {
    height: 2.8rem;
  }
}
@media screen and (min-width: 1120px) {
  .nav-bar ul li {
    padding: 0 1.5rem;
    font-size: 2.2rem;
    font-weight: 600;
  }
  .box__wrapper {
    height: 8rem;
    font-size: 4rem;
  }
  .box__wrapper .word__dinamic {
    line-height: 5rem;
    transition: 0.3s;
  }
  .box__wrapper .words__dinamic {
    height: 5rem;
  }
}
 */
