* {
    margin: 0;
    box-sizing: border-box;
}

body {
    padding: 0;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    max-height: 100px;
    background-color: lightgrey;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

nav {
    font-size: 2em;
}