* {
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    max-height: 100px;
    background-color: lightcoral;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    z-index: 99;
}

nav {
    font-weight: 600;
    background-color: burlywood;
}

nav>ul {
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-left: 300px;
    height: 50px;

}

nav>ul>li {
    list-style: none;
    padding: 5px 10px;

}

nav>ul>li>a {
    text-decoration: none;
    text-transform: uppercase;
}

/* @media (max-width: 650px) {
} */
/* este Query esta pendiente para configurar */

.container {
    height: 100vh;
    width: 100vh;
    margin-top: 50px;
    background-color: brown;
}

#welcome-section {
    height: 100vh;
    background-color: aqua;
    width: 100%;
    display: flex;
    position: absolute;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#welcome-section>h1 {
    background-color: red;

}

#welcome-section>h2 {
    background-color: yellow;
    margin-top: 20px;
}